<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/Myapp/homepage.css">
    <title>Intro!</title>
</head>
<body>
        <div class="intro-card">
            <h1>Welcome to My CS50W Final Project</h1>
            <h3>A little about the project:</h3>
            <p>I tried to address a couple of real world problems I have when starting to think about this project. One of the issues 
                I have had is that I can't keep track of my tasks everyday and it's quite demotivating to find out at the end of the day
                that I missed some of the things I was supposed to do. So I made a purely Javascript based TODO site where I can keep my tasks
                and cross off/delete the ones that I have completed. Secondly, I used Django to make a Recipe storing website for me where you can
                add and save your recipes with all the ingredients and an estimated cost which comes in handy. There's also a fun randomizer function
                that gives you random recipes for everyday, I call it 'meal of the day'
            </p>
                <h6><a href="{% url 'todo' %}">TODO List</a></h6>
                <h6><a href="{% url 'recipe' %}">Recipe</a></h6>

            <h6><a href="{% url 'login' %}">Login here</a> OR <a href="{% url 'register' %}">press here to Register</a></h6>
        </div>    
    </body>
</html>