{% extends "Myapp/layout.html" %}

{% block body %}
<link href="static/Myapp/recipe.css" rel="stylesheet">
<h1>Your recipes</h1>
    <div class="card-container">
        {% if user.is_authenticated %}
            {% for recipe in recipes %}
                <div class="cards">
                        <div class="card mx-3" style="width: 18rem;">
                            <img src="{{ recipe.imageUrl }}" class="card-img-top" alt="{{ recipe.title }}">
                            <div class="card-body">
                            <h5 class="card-title">{{ recipe.title }}</h5>
                            <h6 class="card-price">{{ recipe.price }}$</h6>
                            <div class="details">
                            <p class="card-text" id="text">{{ recipe.description }}</p>
                            <p class="card-text" id="text">{{ recipe.ingredients }}</p>
                            <p class="card-text" id="text">{{ recipe.directions }}</p>
                        </div>
                      </div>
                    </div>
                </div>           
            {% endfor %}
        </div>            
            <p>Looking for random meal for today? <a href="{% url 'get_random' %}">Click here</a></p>
            {% else %}
                Not signed in.
                Please <a href="{% url 'login' %}">Sign in</a>
        {% endif %}
    </div>
{% endblock %}
