{% extends "Myapp/layout.html" %}

{% block body %}

    <h2>Register</h2>
    <link href="static/Myapp/signin.css" rel="stylesheet">

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="login">
            <div class="form-group">
                <input class="form" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input class="form" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <input id="button" type="submit" value="Register">
        </div>      
    </form>

   <p>Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>

{% endblock %}