body {
    display: grid;
    place-items: center;
    background-image: url(homepagebackground.svg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: rotate 6s infinite alternate linear;
    box-sizing: border-box;
}
.intro-card {
    position: relative;
    width: 60%;
    margin: 100px 50px;
    padding: 70px 30px 50px;
    border-radius: 1.25rem;
    background: lightblue;
    text-align: center;
}
h1 {
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
}
h3 {
    font-size: 20px;
    font-family: monospace;
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h6 {
    font-size: 18px;
    text-decoration: none;
}
a {
    color: darkblue;
    text-decoration: none;
}
a:hover {
    color: grey;
    text-decoration: none;
}
@keyframes rotate{
    100%{
        background-position: 15% 50%;
    }
}