body {
    background-image: url(mealbackground.svg);
    background-size: cover;
    background-repeat: no-repeat;
    animation: left 3s infinite alternate linear;
}
.container {
    display: grid;
    border-radius: 20px;
    background-color: antiquewhite;
    width: 50%;
    margin: 50px 375px 50px;
    padding: 80px 20px 60px;
    align-items: center;
    margin-top: 150px;
}
h1 {
    padding: 10px;
    font-size: 60px;
    font-family: cursive;
    text-align: center;
}
h2 {
    padding-top: 25px;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
p {
    text-align: center;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
    color: darkred;
    text-decoration: none;
}
a:hover {
    color: darksalmon;
    text-decoration: none;
}
@keyframes left {
    100%{
        background-position: 25% 100%;
    }    
}